* {
  box-sizing: border-box;
}
body {
  background-color: #ccffcc;
  margin: 0px;
}

h1,h2, h3, h4, h5 {
  color:#000099
}

header{
  background-color: #D30F00;
  color:white;
  padding: 10px 30px 50px 20px;
}

nav{
  background-color: white;
  color:black;
  padding: 15px 0px 15px 15px;
}

.navItem{
  background-color: white;
  color:black;
  padding: 5px 20px 5px 5px;
  display: inline;
}

section{
  float:left;
  background-color: lightgreen;
  /*display:block;*/
  /*overflow: auto;*/
  display: block;
  border-bottom: 2px solid green;
}

/*Configuracion de elementos dentro de section, lado izquierdo*/
  .navLeft{
    color:white;
    padding: 10px 30px 10px 20px;
    float: left;
    width:20%;
    background-color: lightgreen;
  }
  .navLeftItem{
    background-color: tomato;
    padding: 8px;
    margin-top: 7px;
    border-bottom: 1px solid #f1f1f1;
  }
  .navLeft a{text-decoration:none;color:white;}
/*/FIN Configuracion de elementos dentro de section, lado izquierdo*/


/*Configuracion de elementos dentro de imgcenter*/
  .imgcenter{
    float: left;
    width:60%;
    background-color: #lightgreen;
    display: block;
  }
  .imgcenter-inside-photo {
    float: left;
    width: 35%;
    background-color: green;
    padding: 5px;
  }
  .imgcenter-inside-text{
    float: left;
    width: 65%;
    height: 100%;
    display: inline;
    background-color: lightblue;
    padding: 5px;
  }
  .imgcenter h2{
    padding: 0px 0px 0px 15px;
  }
  .imgcenter img{
    width: 100%;
    background-color: yellow;
    padding: 3px;
  }
  .imgcenter p{
    float: left;
    display: inline-block;
    background-color: lightblue;
    font-size: 1.2em;
    padding: 10px;
  }
/* /Fin de configuracion de elementos dentro de imgcenter*/



aside{
  background-color: skyblue;
  color:blue;
  float: left;
  width:20%;
  display: block;
  padding: 10px 30px 10px 20px;
}

main{
  display: block;
  border: solid 2px black;
  background-color: tomato;
  color:white;
  /*padding: 10px 30px 50px 20px;*/
  padding:auto;
}

article{
  background-color: lightness;
  color:black;
  padding: 10px 30px 50px 20px;
}

footer{
  background-color: #D30F00;
  color:white;
  padding: 10px 30px 50px 20px;
}

@media(max-width: 600px) {
  .navLeft, section, aside, .imgcenter{
    width: 100%;
    height: auto;
  }
}
